﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Name:</strong>Sami Banihashemi<br />
    <strong>Email:</strong> <a href="mailto:sami.banihashemi@gmail.com">sami.banihashemi@gmail.com</a>
</address>