﻿@model IEnumerable<Deposit.Service.Models.DepositModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="form-group">
    <label for="ddlOprs">Available operations:</label>
    <select class="form-control" id="ddlOprs">
        <option value="1">Hold</option>
        <option value="2">Buy</option>
        <option value="3">Sell</option>
    </select>
</div>

<div id="dvDepositResults">
    @{Html.RenderPartial("_DepositList", Model);}
</div>

<script type="text/javascript">
    var intervalObj = 0;
    $(document).ready(function () {
        $("#ddlOprs").change(function () {
            if (intervalObj != 0) {
                clearInterval(intervalObj);
            }
            var oprId = $("#ddlOprs").val();
            if (oprId == 2 || oprId == 3) {
                performOpr(oprId);
                intervalObj = setInterval(performOpr, 5000);
            }
        });

        function performOpr(oprId) {
            var oprId = $("#ddlOprs").val();
            fetchRows = false;
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("UpdateNeeded")?OprId=' + oprId,
                    success: function (result) {
                        if (result.data === true) {
                            $("#dvDepositResults").load('@(Url.Action("PerformOpr",
                                "Home",null, Request.Url.Scheme))');
                            }
                }
            });
        };
    });
</script>

